<div class="bg-defaultHeader justify-center items-center  sm:mx-auto max-w-md p-5 mt-6">
    <div class="text-xl font-bold block text-left text-white">Login</div>
    <form class="p-6 rounded-lg" #loginForm="ngForm"(ngSubmit)="login()">
        <div class="form-group block text-left p-3 rounded-lg">
            <label class="block text-defaultText font-medium mb-2"  for="email">Username</label>
            <input type="email"
            class="form-control mx-auto bg-gray-600 border border-gray-800 text-defaultText 
            p-2 rounded-lg w-full max-w-md" id="email" [(ngModel)]="user_name" name="user_name" required>
        </div>
        <div class="form-group block text-left p-3 rounded-lg mt-3">
            <label class="block text-defaultText font-medium mb-2" for="password" for="password">Password</label>
            <input type="password" class="form-control mx-auto bg-gray-600 border border-gray-800 text-defaultText 
            p-2 rounded-lg w-full max-w-md" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <button type="submit" class="bg-indigo-500 text-defaultText
        p-2 rounded-lg hover:bg-indigo-600 mt-3 w-44 max-w-sm" [disabled]="!loginForm.form.valid">Login</button>
    </form>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div>Don't have an account? <a [routerLink]="['/register']"> Register</a></div>
</div>

