<div class="bg-defaultHeader justify-center items-center  sm:mx-auto max-w-md p-5 mt-6">
    <div class="text-xl font-bold block text-left text-white">Register new account</div>
    <form [formGroup]="registerForm" class="p-6 rounded-lg" (ngSubmit)="onSubmit()">
        <div class="form-group block text-left p-3 rounded-lg">
            <label class="block text-defaultText font-medium mb-2"  for="email">Username</label>
            <input type="text"
            class="form-control mx-auto bg-gray-600 border border-gray-800 text-defaultText 
            p-2 rounded-lg w-full max-w-md" id="email"  name="email" formControlName="username">
        </div>
        <div class="form-group block text-left p-3 rounded-lg">
            <label class="block text-defaultText font-medium mb-2"  for="email">Email</label>
            <input type="email"
            class="form-control mx-auto bg-gray-600 border border-gray-800 text-defaultText 
            p-2 rounded-lg w-full max-w-md" id="email" name="email" formControlName="email">
        </div>
        <div class="form-group block text-left p-3 rounded-lg">
            <label class="block text-defaultText font-medium mb-2" for="password">Password</label>
            <input type="password" class="form-control mx-auto bg-gray-600 border border-gray-800 text-defaultText 
            p-2 rounded-lg w-full max-w-md" id="password" name="password" formControlName="password">
        </div>
        <button type="submit" class="bg-indigo-500 text-defaultText
        p-2 rounded-lg hover:bg-indigo-600 mt-3 w-44 max-w-sm">Register</button>
    </form>
    <!-- <div *ngIf="error" class="alert alert-danger">{{error}}</div> -->
    <div>Have an account? <a [routerLink]="['/register']" class="text-indigo-400">Login here</a></div>
</div>