<div *ngIf="isLoggedIn">
    <h1>Hello {{ nickName }}!</h1>
</div>



<div class="flex justify-center items-center mt-5 mb-5">
    <div class="max-w-prose" *ngIf="!isLoggedIn">
        <p>Welcome to "Harakiri", the ultimate browser game where you can experience the thrill of ancient Japan and
            its legendary warriors. In this game, you will have the opportunity to choose your side and become either a powerful
            ninja or a skilled samurai.
        </p>
        
        <p> a ninja, you will master the art of stealth and deception, using your skills to outsmart your enemies and
            complete challenging missions. As a samurai, you will hone your combat skills and become a true warrior, using your
            strength and honor to defend your clan and vanquish your foes.
        </p>
        
        <p>With exciting gameplay and a rich storyline, "Ninjas vs Samurais" offers an immersive experience
            that will transport you to the land of the rising sun. Are you ready to join the battle and prove your worth as a
            ninja or samurai? Play now and discover the true meaning of honor, duty, and victory.
        </p>
    </div>
</div>