<!-- <div *ngIf="isLoggedIn"> -->
    <h3 class="text-center">{{ nickName }} choose your team:</h3>
    <div class="container mx-auto max-w-sm">
        <div class="flex bg-defaultHeaderBg h-full">
            <div class="w-1/2 p-10 border text-white text-center flex flex-col items-center justify-center h-full">
                <h2 class="text-custom-font text-2xl mt-4">Samurais</h2>
                <img src="../../../../assets/images/samuraiAi.svg"
                    class="bg-gray-200 w-24 lg:w-32 h-24 lg:h-32 rounded-full" alt="samurai">
                <p></p>
                <button
                    class="text-custom-font flex justify-center align-center bg-white w-full p-4 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mt-4">
                    Honor
                </button>
            </div>
            <div class="w-1/2 p-10 border text-white text-center flex flex-col items-center justify-center h-full">
                <h2 class="text-custom-font text-2xl mt-4">Ninjas</h2>
                <img src="../../../../assets/images/ninjaAi.svg"
                    class="bg-gray-200 w-24 lg:w-32 h-24 lg:h-32 rounded-full" alt="ninja">
                <p></p>
                <button
                    class="text-custom-font flex justify-center align-center bg-white p-4 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mt-4">
                    Efficiency
                </button>
            </div>
        </div>
    </div>
<!-- </div> -->